BODY {
	SCROLLBAR-FACE-COLOR: #afd4ef; FONT-SIZE: 9pt; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #daf0fe; SCROLLBAR-SHADOW-COLOR: #afd4ef; SCROLLBAR-ARROW-COLOR: #2f74ad; FONT-FAMILY: ËÎÌå
}
TD {
	FONT-SIZE: 9pt
}
.font_size {
	FONT-SIZE: 9pt
}
.font {
	FONT-SIZE: 9pt
}
.wh {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
.label1 {
	FONT-SIZE: 9pt; BACKGROUND: #89d1ed; COLOR: #202020; TEXT-ALIGN: center; text-valign: center
}
.label2 {
	FONT-SIZE: 9pt; COLOR: #202020; TEXT-ALIGN: center; text-valign: center
}
.label3 {
	FONT-SIZE: 9pt; BACKGROUND: #daeef3; COLOR: #202020; TEXT-ALIGN: center; text-valign: center
}
.label4 {
	FONT-SIZE: 9pt; BACKGROUND: #89d1ed; COLOR: #202020; TEXT-ALIGN: center; text-valign: center
}
TD.news {
	FONT-SIZE: 9pt; COLOR: #7e7e7e; LETTER-SPACING: 1px
}
TD.news1 {
	FONT-SIZE: 9pt; COLOR: #808080; LINE-HEIGHT: 1.6; LETTER-SPACING: 1px
}
TD.table_bj {
	FONT-SIZE: 9pt; BACKGROUND: url(../IMages/table_blue.png) #b7d1d1 repeat-x center 50%; COLOR: #ffffff; LINE-HEIGHT: 150%; HEIGHT: 20px; TEXT-ALIGN: center
}
.username {
	BORDER-RIGHT: #a1bca3 0px solid; BORDER-TOP: #a1bca3 0px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #ecf5ff no-repeat 0px 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a1bca3 0px solid; WIDTH: 100px; COLOR: #9f9f9f; BORDER-BOTTOM: #a1bca3 1px solid; HEIGHT: 17px
}
.label_input {
	BORDER-RIGHT: #a1bca3 0px solid; BORDER-TOP: #a1bca3 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; BACKGROUND: #ecf5ff no-repeat 0px 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a1bca3 0px solid; COLOR: #9f9f9f; BORDER-BOTTOM: #a1bca3 0px solid; HEIGHT: 17px
}
.label_input1 {
	BORDER-RIGHT: #a1bca3 0px solid; BORDER-TOP: #a1bca3 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; BACKGROUND: #daeef3 no-repeat 0px 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a1bca3 0px solid; COLOR: #9f9f9f; BORDER-BOTTOM: #a1bca3 0px solid; HEIGHT: 17px
}
.select_style1 {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-SIZE: 8pt; OVERFLOW: hidden; BORDER-LEFT: #000000 0px solid; CLIP: rect(auto 130px auto auto); COLOR: #9f9f9f; BORDER-BOTTOM: #afaeae 1px solid; POSITION: absolute
}
.select_style2 {
	FONT-SIZE: 8pt; BACKGROUND: #ecf5ff; MARGIN: -2px; COLOR: #606060
}
TH.addr_tilte2 {
	FONT-SIZE: 10pt; COLOR: #ff4e00; LETTER-SPACING: 1px; FACE: ºÚÌå
}
TD.addr_tilte2 {
	FONT-SIZE: 9pt; COLOR: #fe6c1d; LETTER-SPACING: 1px
}
TD.bottom1 {
	FONT-SIZE: 9pt; COLOR: #0e6e96; LETTER-SPACING: 1px; FACE: ºÚÌå
}
TD.addr_tilte3 {
	FONT-SIZE: 15pt; COLOR: #ff0000; LETTER-SPACING: 1px
}
TD.addr_tilte4 {
	FONT-SIZE: 15pt; COLOR: #0b75a7; LETTER-SPACING: 1px
}
TR.a {
	FONT-SIZE: 9pt; COLOR: #505050
}
TR.d {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
TR.c {
	FONT-SIZE: 9pt; COLOR: #000000
}
SPAN {
	FONT-SIZE: 9pt
}
TR.b {
	FONT-SIZE: 9pt; COLOR: #000000
}
.tishi {
	FONT-SIZE: 9pt; COLOR: #ff0000
}
.small {
	FONT-SIZE: 8pt; COLOR: #000000
}
TD.contrft {
	FONT-SIZE: 9pt; FILTER: dropshadow(color=#0D3B55,offx=-1,offy=-1,positive=1); COLOR: #ffffff
}
.P {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; CURSOR: hand
}
.Q {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; CURSOR: hand; COLOR: #ffffff; BACKGROUND-COLOR: #4791c5
}
.R {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; COLOR: #8d8d8d
}
.S {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #336699 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: #336699 1px solid; COLOR: #8d8d8d; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #e9f2f8
}
.T {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #336699 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: #336699 1px solid; CURSOR: hand; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #e9f2f8
}
.U {
	BORDER-RIGHT: #4791c5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #4791c5 1px solid; PADDING-LEFT: 1px; Z-INDEX: 100; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 1px; OVERFLOW: visible; BORDER-LEFT: #4791c5 1px solid; CURSOR: hand; PADDING-TOP: 1px; BORDER-BOTTOM: #4791c5 1px solid; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #e9f2f8; LAYER-BACKGROUND-COLOR: #e9f2f8
}
.W {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.X {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff
}
.y {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #8d8d8d; PADDING-TOP: 1px
}
.input_blur_1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
.input_blur_10 {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-SIZE: 10pt; BORDER-LEFT: #000000 0px solid; COLOR: #000000; BORDER-BOTTOM: #000000 0px solid; BACKGROUND-COLOR: #ecf6f8
}
.input_focus_1 {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; COLOR: #606060; BORDER-TOP-COLOR: #000000; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_blur_3 {
	BORDER-RIGHT: #909090 1px solid; BORDER-TOP: #909090 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #909090 1px solid; COLOR: #909090; BORDER-BOTTOM: #909090 1px solid; BACKGROUND-COLOR: #ffffff
}
.input_focus_3 {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; COLOR: #606060; BORDER-TOP-COLOR: #000000; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_blur_2 {
	BORDER-RIGHT: #909090 1px solid; BORDER-TOP: #909090 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #909090 1px solid; COLOR: #000000; BORDER-BOTTOM: #909090 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.input_blur_4 {
	BORDER-RIGHT: #87b3d0 1px solid; BORDER-TOP: #87b3d0 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #87b3d0 1px solid; COLOR: #606060; BORDER-BOTTOM: #87b3d0 1px solid; BACKGROUND-COLOR: #afd4ef
}
.input_blur_5 {
	BORDER-RIGHT: #87b3d0 1px solid; BORDER-TOP: #87b3d0 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #87b3d0 1px solid; COLOR: #000000; BORDER-BOTTOM: #87b3d0 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.input_focus_2 {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; COLOR: #606060; BORDER-TOP-COLOR: #000000; PADDING-TOP: 1px; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_blur_3 {
	BORDER-RIGHT: #87b3d0 0px solid; BORDER-TOP: #87b3d0 0px solid; FONT-SIZE: 10pt; BORDER-LEFT: #87b3d0 1px solid; COLOR: #000000; BORDER-BOTTOM: #87b3d0 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.text_blur_1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
.text_focus_1 {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; COLOR: #606060; BORDER-TOP-COLOR: #000000; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_unline {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #606060; PADDING-BOTTOM: 1px; WIDTH: 50px; COLOR: #606060; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; HEIGHT: 18px; BACKGROUND-COLOR: #afd4ef; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_bg {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #606060; PADDING-BOTTOM: 1px; COLOR: #101010; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; BACKGROUND-COLOR: #afd4ef; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_noneline {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #606060; PADDING-BOTTOM: 1px; WIDTH: 50px; COLOR: #606060; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; HEIGHT: 18px; BACKGROUND-COLOR: #afd4ef; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_noneline1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #606060; PADDING-BOTTOM: 1px; WIDTH: 80px; COLOR: #606060; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; HEIGHT: 14px; BACKGROUND-COLOR: #afd4ef; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #c0c0c0
}
.input_unline_focus {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; WIDTH: 100px; COLOR: #606060; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
A.movelink:link {
	COLOR: #b3b3b3; TEXT-DECORATION: none
}
A.movelink:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.movelink:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.movelink:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:link {
	COLOR: #7994b8; TEXT-DECORATION: none
}
A:visited {
	COLOR: #7994b8; TEXT-DECORATION: none
}
A:active {
	COLOR: #7994b8; TEXT-DECORATION: none
}
A:hover {
	COLOR: #7994b8; TEXT-DECORATION: none
}
A.movelink11:link {
	COLOR: #3586a4; TEXT-DECORATION: none
}
A.movelink11:visited {
	COLOR: #3586a4; TEXT-DECORATION: none
}
A.movelink11:active {
	COLOR: #3586a4; TEXT-DECORATION: none
}
A.movelink11:hover {
	LEFT: 1px; COLOR: #ea3517; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
A.movelink1:link {
	TEXT-DECORATION: none
}
A.movelink1:visited {
	TEXT-DECORATION: none
}
A.movelink1:active {
	TEXT-DECORATION: none
}
A.movelink1:hover {
	TEXT-DECORATION: none
}
A.movelink2:link {
	COLOR: #505050; TEXT-DECORATION: none
}
A.movelink2:visited {
	COLOR: #505050; TEXT-DECORATION: none
}
A.movelink2:active {
	COLOR: #505050; TEXT-DECORATION: none
}
A.movelink2:hover {
	LEFT: 1px; COLOR: #000000; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
A.menulink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menulink:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menulink:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menulink:hover {
	LEFT: 1px; COLOR: #000000; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
A.link:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.link:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.link:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.link:hover {
	LEFT: 1px; COLOR: #ff0000; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
A.enlink:link {
	COLOR: #808080; TEXT-DECORATION: none
}
A.enlink:visited {
	COLOR: #808080; TEXT-DECORATION: none
}
A.enlink:active {
	COLOR: #808080; TEXT-DECORATION: none
}
A.enlink:hover {
	LEFT: 1px; COLOR: #808080; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
A.staticlink:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.staticlink:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.staticlink:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.staticlink:hover {
	LEFT: 1px; COLOR: #ffffff; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
A.staticlink1:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.staticlink1:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.staticlink1:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.staticlink1:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.linktitle {
	FONT-SIZE: 9pt; FILTER: dropshadow(color=#0D3B55,offx=-1,offy=-1,positive=1); COLOR: #ffffff
}
.locationtit {
	FONT-SIZE: 9pt; FILTER: dropshadow(color=#ffffff,offx=1,offy=1,positive=1); COLOR: #0c3956
}
.linktitle1 {
	FONT-SIZE: 9pt; FILTER: dropshadow(color=#0D3B55,offx=-1,offy=-1,positive=1); COLOR: #f5f5f5
}
.linktitle2 {
	FONT-SIZE: 9pt; FILTER: dropshadow(color=#fefefe,offx=-1,offy=-1,positive=1); COLOR: #303030
}
.linktitle3 {
	FONT-SIZE: 9pt; FILTER: dropshadow(color=#ffffff,offx=1,offy=1,positive=1); COLOR: #303030
}
.linktitle4 {
	BORDER-RIGHT: #0c3956 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #0c3956 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #0c3956 0px solid; COLOR: #f0f0f0; PADDING-TOP: 1px; BORDER-BOTTOM: #c0c0c0 0px solid
}
.small_font {
	FONT-SIZE: 8pt
}
.tableBorder2_list {
	BORDER-RIGHT: #0c3956 1px solid; BORDER-TOP: #0c3956 1px solid; BORDER-LEFT: #0c3956 1px solid; WIDTH: 97%; BORDER-BOTTOM: #0c3956 1px solid
}
.tableBorder2_list1 {
	BORDER-RIGHT: #0c3956 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #c0c0c0 0px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0c0c0 0px solid; WIDTH: 97%; PADDING-TOP: 1px; BORDER-BOTTOM: #0c3956 1px solid
}
.tableBorder2_list11 {
	BORDER-RIGHT: #0c3956 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c0c0c0 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c0c0c0 0px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #0c3956 0px solid
}
.tableBorder2_list9 {
	BORDER-RIGHT: #b7d1d1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b7d1d1 0px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; BORDER-LEFT: #b7d1d1 0px solid; COLOR: #b7d1d1; PADDING-TOP: 0px; BORDER-BOTTOM: #b7d1d1 1px solid
}
.tableBorder2_list8 {
	BORDER-RIGHT: #0c3956 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0c0c0 1px solid; WIDTH: 97%; PADDING-TOP: 1px; BORDER-BOTTOM: #0c3956 1px solid
}
.tableBorder2_list6 {
	BORDER-RIGHT: #0c3956 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #f0f0f0 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #0c3956 1px solid
}
.tableBorder2_list2 {
	BORDER-RIGHT: #0c3956 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #c0c0c0 0px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #0c3956 1px solid; WIDTH: 96%; PADDING-TOP: 1px; BORDER-BOTTOM: #0c3956 1px solid
}
.tableBorder2_list3 {
	BORDER-RIGHT: #0c3956 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #0c3956 1px solid; WIDTH: 97%; PADDING-TOP: 1px; BORDER-BOTTOM: #0c3956 1px solid
}
.tableBorder2_list4 {
	BORDER-RIGHT: #29689d 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #daf0fe 1px solid; PADDING-LEFT: 1px; FILTER: dropshadow(color=#000000,offx=-1,offy=-1,positive=1); PADDING-BOTTOM: 1px; BORDER-LEFT: #daf0fe 1px solid; WIDTH: 100%; PADDING-TOP: 1px; BORDER-BOTTOM: #29689d 1px solid; HEIGHT: 20px
}
.tableBorder2_list5 {
	BORDER-RIGHT: #29689d 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #daf0fe 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #daf0fe 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #29689d 1px solid; HEIGHT: 20px
}
.subm {
	BORDER-RIGHT: #0c3956 1px solid; BORDER-TOP: #0c3956 1px solid; BORDER-LEFT: #0c3956 1px solid; CURSOR: hand; BORDER-BOTTOM: #0c3956 1px solid
}
.button {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #5683a3; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #808080; PADDING-BOTTOM: 1px; WIDTH: 70px; COLOR: #000000; BORDER-TOP-COLOR: #5683a3; PADDING-TOP: 1px; HEIGHT: 19px; BACKGROUND-COLOR: #a3cfec; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #808080
}
.tabletext1 {
	FONT-SIZE: 9pt; BACKGROUND: #c1e3f0; FILTER: dropshadow(color=#ffffff,offx=1,offy=1,positive=1); COLOR: #000000
}
.off {
	DISPLAY: none
}
.on {

}
PRE {
	FONT-SIZE: 9pt; LINE-HEIGHT: 1.7; LETTER-SPACING: 0px
}
