.content {
	margin:auto;
}
.menu_rz_title{
	font-family:"ו";
	font-size:14px;
	color:#006699;
	font-weight: bold;
	/*line-height:35px;*/
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid;
	background-color:#F6F6F6;
}
.menu_rz{

	width:90%;
}
.menu_rz_content{
	margin-top:30px;
	margin-left:30px;
	height:170px;

}

.menu_rz_msg{
	text-align:center;
	width:150px;
	height:150px;
	border:1px #CCCCCC solid;
	padding-top:5px;
	/*float:left;*/
	/*margin-right:80px;*/

}