<!--
EOT；
<?php
print <<<EOT
-->

<div style="width:$width;margin:auto;">
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>

<table width="$width">
	<tr>
		<td align="left">组织关联公司查询&gt;&gt;&nbsp;</td>
	</tr>
</table>

<table width="$width" class="c_table stripe">
	<tr>
	  <th align="center">编辑</th>
	  <th align="center">主公司名称</th>
	  <th align="center">组织名称</th>
	  <th align="center">地址</th>
	  <th align="center">联系电话</th>
	  <th align="center">传真</th>
	  <th align="center">联系人</th>
	  <th align="center">联系人手机</th>
	  <th align="center">删除</th>
	</tr>
<!--
EOT;
foreach ($result as $v) {

print <<<EOT
-->
	<tr>
		<td width="30" align="center"><a href="index.php?m=company&do=qiye_ex_edit&zuzhi_id=$zuzhi_id&id=$v[id]"><img src="frontEnd/images/button_edit.png" title="编辑" border="0" /></a></td>
		<td><a href="index.php?m=company&do=qiyedengji_edit&zuzhi_id=$v[zuzhi_id]">$eiregistername_zhu</a></td>
		<td><a href="index.php?m=company&do=qiye_ex_edit&zuzhi_id=$zuzhi_id&id=$v[id]">$v[eiregistername]</a></td>
		<td align="center">$v[address]</td>
		<td style="white-space:normal; word-break:break-all;" align="center">$v[eiphone]</td>
		<td style="white-space:normal; word-break:break-all;" align="center">$v[eifax]</td>
		<td align="center">$v[eilinkman]</td>
		<td align="center">$v[eilinkman_mob]</td>
		<td align="center"><a href="index.php?m=company&do=qiye_ex_del&zuzhi_id=$zuzhi_id&id=$v[id]" onclick="return confirm('是否要删除关联公司？')"><img src="frontEnd/images/button_empty.png" title="删除" border="0" /></a></td>
	</tr>

<!--
EOT;
}
print <<<EOT
-->
	<tr>
	  <td align="center"><a href="index.php?m=company&do=qiye_ex_edit&zuzhi_id=$zuzhi_id"><img src="frontEnd/images/button_insert.png" alt="添加" border="0" /></a></td>
	  <td align="center" colspan="8"></td>
	</tr>
</table>
</div>

<!--
EOT;
?>
-->