<!--
EOT；
<?php
print <<<EOT
-->

<div style="width:$width;margin:auto;">
<div class="blank"></div>

<table width="$width" class="t_table">
<form method="post" name="winput" action="$baseurl" >
	<tr>
		<td>$SearchHtml<br><input type="submit" value="搜索" name="submit" />
	</td></tr>
</form>
</table>


<div class="blank"></div>
$result[pages]

<table width="$width">
	<tr>
		<td align="left">组织费用查询&gt;&gt;&nbsp;合计：$result[count]</td>
	</tr>
</table>

<table width="$width" class="c_table stripe">
	<tr>
	  <th align="center">编辑</th>
	  <th align="center">企业注册名称</th>
	  <th align="center">到款金额</th>
	  <th align="center">到款时间</th>
	  <th align="center">联系人</th>
	  <th align="center">联系电话</th>
	  <th align="center">联系传真</th>
	  <th align="center">删除</th>
	</tr>
<!--
EOT;
foreach ($result['data'] as $v) {
print <<<EOT
-->
	<tr>
		<td width="30" align="center"><a href="index.php?m=company&do=qiyedengji_finance_edit&zuzhi_id=$v[zuzhi_id]&id=$v[id]"><img src="frontEnd/images/button_edit.png" title="编辑" border="0" /></a></td>
		<td width="240"><a href="index.php?m=company&do=qiyedengji_edit&zuzhi_id=$v[id]">$v[eiregistername]</a></td>
		<td align="center">$v[get_money]</td>
		<td align="center">$v[get_money_date]</td>
		<td align="center">$v[eilinkman]</td>
		<td style="white-space:normal; word-break:break-all;" align="center">$v[eilinkman_mob]</td>
		<td style="white-space:normal; word-break:break-all;" align="center">$v[eifax]</td>
		<td align="center"><a href="index.php?m=company&do=qiyedengji_finance_del&zuzhi_id=$v[id]&eid=$v[id]" onclick="return confirm('是否要删除企业：$v[eiregistername]费用')"><img src="frontEnd/images/button_empty.png" title="删除" border="0" /></a></td>
	</tr>

<!--
EOT;
}
print <<<EOT
-->
</table>
$result[pages]
</div>

<!--
EOT;
?>
-->