<!--
<?php
print <<<EOT
-->
<div class="blank"></div>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#0066FF">
    <tr bgcolor="#FFFFFF">
    	<td height="24" colspan="5"><font color="#003399">信息设置 -&gt; 文件类型</font></td>
    </tr>
    <tr bgcolor="#F2F2F2">
        <td width="96" height="22" align="center"><font color="#003399">排序</font></td>
        <td width="85" align="center"><font color="#003399">代码</font></td>
        <td width="122" align="center"><font color="#003399">内容</font></td>
        <td width="100" align="center"><font color="#003399">状态</font></td>
        <td width="91" align="center"><font color="#003399">操作</font></td>
    </tr>
<!--
EOT;
foreach($result['data'] as $key => $value)
{
$value[online] = $s->showonline($value[online]);
print <<<EOT
-->
    <tr bgcolor="#FFFFFF">
        <td align="center">$value[isdesc]</td>
        <td align="center">$value[code]</td>
        <td height="20" align="center">$value[msg]</td>
        <td align="center">$value[online]</td>
        <td width="91" align="center">
		<a href="index.php?m=setup&do=setup_uploadfile_edit&id=$value[id]"><img src="frontEnd/images/button_edit.png" alt="编辑" width="12" height="13" border="0" /></a>
		&nbsp;&nbsp;<a href="index.php?m=setup&do=setup_uploadfile_del&id=$value[id]"><img src="frontEnd/images/button_empty.png" alt="删除" width="11" height="13" border="0" onclick="return confirm('你确定要删除吗？');" /></a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
    <tr bgcolor="#F2F2F2">
         <td colspan="2" align="center"><a href="index.php?m=setup&do=setup_uploadfile_edit"><img src="frontEnd/images/button_insert.png" alt="添加" width="13" height="12" border="0" /></a></td>
          <td height="20" colspan="3" align="center"></td>
    </tr>
</table>
<div class="blank"></div>
<!--
EOT;
?>
-->