<!--
<?php
print <<<EOT
-->
<script type="text/javascript">
//<![CDATA[
//姓名弹窗
$(function(){
	var option = {
		closeHTML:"<a href='#'><span style='float:right;cursor:pointer;color:red;'>关闭</span></a>",
		onClose:function(dialog){
		$("#simplemodal-container,#simplemodal-overlay").hide();$(dialog.data).empty();$.modal.close();
		}
	};
	$("#username").click(function(){
		var obj = $(this).parent();
		option.containerCss = {
			width: 900,
			height: 500
		};
		$('<iframe src="dlg/in_hr_information_list.php" frameborder="0" style="width:870px;height:680px;margin-bottom:5px;"></iframe>').load(function(){
			$(this).contents().find('.line').click(function(){
				var o = $(this).parent();
				obj.find('#hr_id').val(o.find('.hr_id').val());
				obj.find('#username').val(o.find('.username').val());
				$.modal.close();
			})
		}).modal(option);
		option.containerCss = null;
	}); 

});
function save(){
		
	//调用表单验证插件
	if(!Validator.Validate(document.forms[0],2))return;
	document.forms[0].submit();

}

//]]>
</script>
<div class="blank"></div>
<table width="$width" align="center">
	<tr>
		<th align="left">审核员教育/培训登记>> </th>
	</tr>
</table>
<table class="e_table" width="$width">
<form name="hr_education_train" method="post" action="index.php?m=hr&do=hr_education_train_save">
		<input type="hidden" name="id" value="{$id}" />
	<tr>	
		<td width="200" align="right">姓名：</td> 
		<td width="400">
			<input type="hidden" name="hr_id" id="hr_id" value="$result[hr_id]" />
			<input type="text" name="username" id="username" style="width:100px;" readonly="readonly" value="{$result[username]}" datatype="Require" msg="姓名不能为空！" /><font color="red"> * </font>
		</td>
	</tr>
	<tr>
		<td align="right">教育/培训类型：</td>
		<td>
			<select name="type" style="width:100px;">
<!--
EOT;
foreach($setup_hr_education_train as $key => $value){
	if($result[type] == $key){$sel = 'selected';}else{$sel='';}
print <<<EOT
-->
			<option value="{$key}" $sel>$value</option>
<!--
EOT;
}
print <<<EOT
-->				
			</select><font color="red"> * </font>
		</td>
	</tr>
	<tr>
		<td align="right">教育/培训时间：</td>
		<td><input type="text" name="teach_date" value="{$result[teach_date]}" style="width:150px" onfocus="showCalendar(this, 'y-mm-dd');"/></td>
	</tr>
	<tr>
		<td align="right">教育/培训内容：</td>
		<td><textarea name="content" style="width:300px;height:80px;">$result[content]</textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="button" value=" 保 存 " onclick="javascript:save();" /></td>
	</tr>
</form>
</table>
<!--
EOT;
?>
-->