<!--
<?php
echo <<<EOT
-->
<div class="blank"></div>
<table width="$width" class="c_table">
    <tr bgcolor="#F2F2F2">
      <td width="18%" height="25" align="right"><span><font color="#0000FF">发 送 人：</font></span></td>
      <td>&nbsp;$result[zd_ren]</td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td height="32" align="right"><font color="#0000FF">短信标题：</font></td>
      <td>&nbsp;$result[title]</td>
    </tr>
    <tr bgcolor="#F2F2F2">
      <td align="right"><font color="#0000FF">短信内容：<br> </font></td>
      <td>&nbsp;$result[content]</td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td height="25" align="right"><font color="#0000FF">发送时间：</font></td>
      <td>&nbsp;$result[zd_date]</td>
    </tr>
</table>
<!--
EOT;
?>
-->