<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>系统顶部</title>
<link rel="stylesheet" href="frontEnd/css/scss.css" />
<script type="text/javascript" src="./frontEnd/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" >
//<![CDATA[


//]]>
</script>
</head>

<!--
<?php
echo <<<EOT
-->
<body bgcolor="#ffffff" style="margin-left:0px;margin-top:0px;">

<table cellspacing=0 cellpadding=0 width="100%" border=0 style="height:50px;">
  <tr>
    <td style="background-image:url('frontEnd/images/banner-0.gif')"><div style="MARGIN-TOP: 5pt; FONT-WEIGHT: bold; FONT-SIZE: 18pt; FILTER: Glow(Color=#000000,Strength=3); WIDTH: 100%; COLOR: #F7F7F7; FONT-FAMILY: 宋体">&nbsp;{$regname}{$softname}&nbsp;V{$version}</div></td>
    <td width="40" height="50" style="background-image:url('frontEnd/images/banner-1.gif')">&nbsp;</td>
    <td width=329 valign="bottom" style="background-image:url('frontEnd/images/banner-2.gif')" class=small>
		<table border="0" style="height:10px;">
          <tr>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;<img src="frontEnd/images/menu-07.gif" border=0 /><span id="news"></span>&nbsp;&nbsp;<a href="help/help.rar" target="main" ><img src="frontEnd/images/help.gif" border=0 />帮助
			<font color="red">(New!)</font></a>&nbsp;&nbsp;<a href="./login.php?do=logout" target="_top"><img title=退出系统 src="frontEnd/images/exit.gif" border=0 />退出</a></td>
          </tr>
        </table></td>
  </tr>
</table>
</body>
</html>
<!--
EOT;
?>-->