<!--
<?php
echo <<<EOT
-->
<div class="blank"></div>
<div style="width:$width;margin:auto;">
<table width="$width" class="t_table" align="center">
<form method="post" name="winput" action="./index.php?m=certificate&do=cert_xm_list&online=$online">
    <tr>

  		<td>$SearchHtml
			<br><input type="submit" value="搜索" name="submit" />
		</td>
   </tr>
</form>
</table>
<div class="blank"></div>
$result[pages]
<table width="$width">
    <tr>
    	<td>证书登记&gt;&gt; 合计：$result[count] &nbsp;
		&nbsp;&nbsp;&nbsp;<a href="./index.php?m=certificate&do=cert_list"><font color="blue">已登记</a>
    </tr>
</table>
<table width="$width" class="c_table stripe" bgcolor="#D9E8E8">
    <tr bgcolor="#F2F2F2">
        <th height="22" colspan="2" align="center">操作</th>
        <th align="center">合同编号</th>
        <th align="center">项目编号</th>
        <th align="center">组织名称</th>
        <th align="center">合同来源</th>
        <th align="center">标准</th>
		<th align="center">产品/范围</th>
        <th align="center">类型</th>
        <th align="center">评定通<br>过时间</th>
        <th align="center">状态</th>
		<th align="center">删除</th>
    </tr>
<!--
EOT;
foreach($result[data] as $k=>$v) {
	$kw = '';
	if ($v[coverFields] != ''){$kw=$k.'f';$v[showf] = "<font onmouseover=\"show_block('$kw')\" onmouseout=\"hide_block('$kw')\"><img src=\"frontEnd/images/other.png\" /></font>";}else{$v[showf] = '';}
	$v[zsprintdate] == '0000-00-00' ? $s_zsprintdate = '未登记' : $s_zsprintdate = '已登记';
echo <<<EOT
-->
    <tr bgcolor="#FFFFFF">
        <td align="center"><a href="#"><img src="./frontEnd/images/select1.gif" width="12" height="13" border="0" onclick="ShowDlog_item($v[ht_id],$v[htxm_id])"/></a></td>
        <td align="center">
        	<a href="index.php?m=certificate&do=cert_edit&pdid=$v[pdid]&zsid=$v[id]&zuzhi_id=$v[zuzhi_id]&op=1"><img  src="./frontEnd/images/button_edit.png" alt="证书登记" border="0" style="cursor:pointer;" /></a>        </td>
        <td align="center">$v[htcode]</td>
        <td  align="center">$v[htxmcode]</td>
        <td width="200" align="left" height="22">&nbsp;<a href="./index.php?m=company&do=qiyedengji_edit&zuzhi_id=$v[zuzhi_id]">$v[eiregistername]</a></td>
        <td align="center">$v[htfrom]</td>
        <td align="center">$v[audit_ver]</td>
		<td align="center"><div class="{$kw} show_block" style="text-align:left">{$v[coverFields]}</div>$v[showf]</td>
        <td align="center">$v[audit_type]</td>
        <td align="center">$v[approvaldate]</td>
        <td align="center">$s_zsprintdate</td>

		<td width="30" align="center"><a href="./index.php?m=certificate&do=cert_del&zsid=$v[id]&zuzhi_id=$v[zuzhi_id]">
		<img src="./frontEnd/images/button_empty.png" alt="删除" width="11" height="13" border="0"  onclick="return confirm('你是否要删除该证书数据');" /></a></td>
    </tr>
<!--
EOT;
}
echo <<<EOT
-->
</table>
$result[pages]
<div class="blank"></div>
</div>
<!--
EOT;
?>
-->