<!--
<?php
echo <<<EOT
-->
<link rel="stylesheet" type="text/css" href="frontEnd/css/tag.css">
<script src="frontEnd/js/jquery.idTabs.min.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
$(function(){
	$('.usual').idTabs({event:'mouseover'});
})
//]]>
</script>
<div class="blank"></div>
{$Information->info}
<div class="blank"></div>
<table width="$width" class="c_table">
  <tr>
    <td width="15%" align="right">打印WORD文档：</td>
    <td>
        &nbsp;<a href="./index.php?m=doc&do=CMD-SHJL-ZRZ2&htxm_id=$rows[htxm_id]&zuzhi_id=$rows[zuzhi_id]&id=$rows[id]&kind=$rows[kind]">[再认证通知模板]</a>
    </td>
  </tr>
</table>
<div class="blank"></div>
<table width="$width" class="e_table">
<form name="winput" method="post" action="index.php?m=audit&do=complex_save">
  <tr bgcolor="#FFFFFF">
    <td height="24" colspan="4"><font color="#003399">再认证信息登记 &gt;&gt;</font>&nbsp;
    </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td height="24" ><font color="#003399">再认证时间：</font></td>
    <td height="29" colspan="3">
    <input name="re_audit_date" value="$rows[re_audit_date]" type="text" style="width:120px;"  onfocus="showCalendar(this, 'y-mm-dd');"  title='日期格式  1980-03-04'/>
    </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td height="25" align="right"><font color="#003399">备注：</font></td>
    <td colspan="3" ><font color="#FF0000">
    <textarea name="other" style="width:472px;height:100px;">$rows[other]</textarea>
    </font>
    </td>
  </tr>
  <tr bgcolor="#F2F2F2">
    <td height="24" colspan="4" align="center">
    <font color="#003399">是否接受再认证：</font>
<!--
EOT;
$rows[iffuping] == '0' && $iffuping_ck0 = 'selected="selected"';
$rows[iffuping] == '1' && $iffuping_ck1 = 'selected="selected"';
$rows[iffuping] == '2' && $iffuping_ck2 = 'selected="selected"';
echo <<<EOT
-->
	<select name="iffuping">
		<option value="2" $iffuping_ck2 >待定</option>
		<option value="1" $iffuping_ck1 >接受</option>
		<option value="0" $iffuping_ck0 >不接受</option>
	</select>

    <input type="hidden" name="id" value="$id" />
    <input type="hidden" name="zuzhi_id" value="$rows[zuzhi_id]" />
    <input type="hidden" name="ht_id" value="$rows[ht_id]" />
    <input type="submit" value=" 保存 " name="submit1" />
    </td>
  </tr>
</form>
</table>
<div class="blank"></div>
<!--
EOT;
?>
-->