<!--
<?php
print <<<EOT
-->
<div class="blank"></div>
<table width="$width" class="t_table">
<form method="post" name="winput" action="$baseurl">
    <tr>
        <td bgcolor="#EAF4EA">
			$SearchHtml
			<br><input type="submit" value="搜索" name="submit" />
        </td>
    </tr>
</form>
</table>
<div class="blank"></div>
$result[pages]
<table width="$width" class="c_table">
    <tr>
        <td height="30">审批任务查询>>   合计数：$result[count] &nbsp; 企业数：$qy_num[c_num] &nbsp; <a href="index.php?m=audit&do=return_record_list"><font color="blue">已回访</font></a></td>
    </tr>
</table>
<table width="$width" class="c_table stripe">
	<tr bgcolor="#F2F2F2">
		<th align="center">登记</th>
		<th align="center">是否<br />回访</th>
        <th align="center">项目编号</th>
		<th align="center">状态</th>
        <th align="center">组织名称</th>
        <th align="center">合同来源</th>
        <th align="center">标准</th>
        <th align="center">产品数</th>
        <th align="center">审核类型</th>
        <th align="center">总人日</th>
        <th align="center">审核开始时间</th>
        <th align="center">审核结束时间</th>
        <th align="center">审核员(资格)(组长)</th>
	</tr>
<!--
EOT;
foreach ($result[data] as $v){
print <<<EOT
-->
	<tr bgcolor="#FFFFFF">
<!--
EOT;
$v[if_record] == '1' ? $v[if_record] = '是' :  $v[if_record] = '否';
$v[zd_time] == '0000-00-00' && $v[zd_time] = '';
$pxm = $db->query("select product,id from xm_item where taskId = '$v[id]'");
$i=0;$product='';
while($p = $db->fetch_array($pxm)){
  if($p[product]!=''){
    $i++;
    $product .=Cache::cache_product($p[product]).'<br/>';
  }
}
$i==0?$i='':$i;

print <<<EOT
-->		
	    <td align="center" width="30"><a href="index.php?m=audit&do=return_record_edit&taskId=$v[id]&zuzhi_id=$v[zuzhi_id]"><img src="./frontEnd/images/button_edit.png" border="0" /></a></td>
	   	<td width="30" align="center">$v[if_record]</td>
	    <td width="80" align="center">$v[htxmcode]</td>
		<td width="50" align="center">$v[xmonline]</td>
	    <td width="220" height="20"><a href="./index.php?m=company&do=qiyedengji_edit&zuzhi_id=$v[zuzhi_id]">$v[eiregistername]</a></td>
		<td width="70" align="center">$v[htfrom]</td>
	    <td width="30" align="center">$v[audit_ver]</td>
	    <td width="50" align="center" >
<!--
EOT;
if($i>0){
echo <<<EOT
-->
		<a href="#" style="width:50px; display:block" onmouseover="show_block('$v[id]',100,100);" onmouseout="hide_block('$v[id]');">$i</a>
		<div class="{$v[id]} show_block">$product</div>
<!--
EOT;
}
echo <<<EOT
-->
		</td>
	    <td width="60" align="center" >$v[audit_type]</td>
	    <td width="50" align="center">$v[zrd]</td>
	    <td width="80" align="center">$v[taskBeginDate]</td>
	    <td width="80" align="center">$v[taskEndDate]</td>
	    <td width="220" align="left">$v[inempName]</td>
	</tr>
<!--
EOT;
}
print <<<EOT
-->
</table>
$result[pages]
<div class="blank"></div>
</div>
<!--
EOT;
?>
-->