<!--
<?php
print <<<EOT
-->
<table align="center" width="100%" border="0" cellpadding="1" cellspacing="1">
	<tr align="center">
    	<td colspan="2" height="30"><font style="color:#000;font-size:12px;"><strong>$rst[eiregistername]</strong></font></td>
    </tr>
	<tr align="center">
    	<td><a href="../index.php?m=doc&do=CMD-SHJL-31&taskId=$taskId&zuzhi_id=$zuzhi_id"><img src="../frontEnd/images/word.gif" border="0" alt="审核任务单" style="width:40px;height:40px;" /></a></td>
        <td><a href="../index.php?m=doc&do=CMD-SHJL-23&taskId=$taskId&zuzhi_id=$zuzhi_id"><img src="../frontEnd/images/word.gif" border="0" alt="现场审核的通知" style="width:40px;height:40px;" /></a></td>
    </tr>
    <tr align="center">
    	<td><a href="../index.php?m=doc&do=CMD-SHJL-31&taskId=$taskId&zuzhi_id=$zuzhi_id">审核任务单</a></td>
        <td><a href="../index.php?m=doc&do=CMD-SHJL-23&taskId=$taskId&zuzhi_id=$zuzhi_id">现场审核的通知</a></td>
    </tr>
</table>
<!--
EOT;
?>
-->