<!--
<?php
echo <<<EOT
-->
<div align="center">
	<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
		<form method="post" action="in_daima_list.php">
			<tr bgcolor="#FFFFFF">
				<td>
					自用代码：<input type="text" name="code" value="" size="6" />
					内容：<input type="text" name="msg" value="" size="6" />
					<input type="hidden" name="iso" value="$iso">
					<input type="submit" value="搜索" />
				</td>
			</tr>
		</form>
	</table>
<div class="blank"></div>
	<table width="85%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#0066FF">
		<tr bgcolor="#FFFFFF">
			<td height="24" align="center">操作</td>
			<td align="center">领域</td>
			<td align="center">上报代码</td>
			<td align="center">自用代码</td>
			<td align="center">内容</td>
		</tr>
<!--
EOT;
	foreach ((array)$result['data'] as $v) {
echo <<<EOT
-->
		<tr bgcolor="#FFFFFF">
			<td height="24" width="40" align="center"><img src="../frontEnd/images/button_edit.gif" class="edit" style="cursor:pointer;" /></td>
			<td width="30" align="center" >$v[iso]</td>
			<td width="60" align="left" class="code">$v[shangbao]</td>
			<td width="60" align="left" class="nqa_code">$v[code]</td>
			<td align="left" class="msg">$v[msg]</td>
		</tr>
<!--
EOT;
}
echo <<<EOT
-->
	</table>
	<table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<td>$result[pages]</td>
		</tr>
	</table>
</div>
<!--
EOT;
?>
-->